<section class="about-us-section" id="about-us">
    <div class="container about-us-container">
        <div class="about-us-text">
        <h2 class="section-title">About us</h2>
        <p class="about-text about-text-item1">The store "Vyshyvanka Vibes" is a place where traditional Ukrainian vyshyvanka comes to life with new zest and style.
        Our store offers a wide selection of high-quality and authentic embroidery, which combines the elegance of traditional
        needlework and modern design.</p>
        <p class="about-text">In "Vyshyvanka Vibes" you will find various models of embroidery, from classic to modern, corresponding to the latest
        fashion trends. Our embroidery is made using natural fabrics and is embroidered by highly qualified craftsmen who convey
        the beauty of Ukrainian culture in every detail.We believe that vyshyvanka is not just clothing, but a symbol of
        national pride, the heritage of our ancestors and a way of expressing one's individuality. Each embroidery from
        "Vyshyvanka Vibes" has its own unique history and symbolism, which gives it a special meaning.</p>
        </div>
        <div class="about-us-pic">
        <picture> 
            <source media="(min-width: 1440px)" 
            srcset="/img/about-us/vyshyvanka-d1440.jpg 1x, /img/about-us/vyshyvanka-d1440@2x.jpg 2x">
            <source media="(min-width: 1280px)" 
            srcset="/img/about-us/vyshyvanka-d1280.jpg 1x, /img/about-us/vyshyvanka-d1280@2x.jpg 2x">
            <source media="(min-width: 768px)" 
            srcset="/img/about-us/vyshyvanka-tablet.jpg 1x, /img/about-us/vyshyvanka-tablet@2x.jpg 2x">
            <source media="(min-width: 320px)" 
            srcset="/img/about-us/vyshyvanka-mobile.jpg 1x, /img/about-us/vyshyvanka-mobile@2x.jpg 2x">
            <img class="about-us-img" src="/img/about-us/vyshyvanka-d1280.jpg" 
            alt="Vyshyvanka image">
        </picture>
        </div>
    </div>
</section>