<footer class="footer">
  <div class="footer-page container">
    <ul class="footer-list">
      <li class="footer-item"><a href="#about-us.html">About us</a></li>
      <li class="footer-item">
        <a href="#our-collection.html">Our collection</a>
      </li>
      <li class="footer-item">
        <a href="#customer-order.html">Customer order</a>
      </li>
      <li class="footer-item">
        <a href="#testimonials.html">Testimonials</a>
      </li>
    </ul>
  </div>
  <div class="container">
    <p class="footer-description">
      A touch of
      <span class="footer-color accent-color">Ukrainian</span> culture in every
      embroidery
    </p>

    <div class="footer-picture"></div>
  </div>
</footer>
