<header class="header">
  <div class="container header-container">
    <div class="header-logo-nav-box">
      <a class="header-logo" href="./index.html">
        <svg class="header-main-icon" width="44" height="39">
          <use href="/img/icons/icons-sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-list-item">
            <a class="header-nav-link active-link" href="#about-us">About us</a>
          </li>
          <li class="header-nav-list-item">
            <a class="header-nav-link" href="#our-collection">Our collection</a>
          </li>
          <li class="header-nav-list-item">
            <a class="header-nav-link" href="#customer-order">Customer order</a>
          </li>
          <li class="header-nav-list-item">
            <a class="header-nav-link" href="#testimonials">Testimonials</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header-address-social-box">
      <address class="header-address">
        <a class="header-address-link" href="tel:+380684439426"
          >+380 (68) 443-94-26</a
        >
      </address>
      <div class="header-social-burger-box">
        <ul class="header-social-list">
          <li class="header-social-list-item">
            <a
              class="header-social-list-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
            >
              <svg class="header-social-list-icon" width="28" height="28">
                <use href="/img/icons/icons-sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="header-social-list-item">
            <a
              class="header-social-list-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              <svg class="header-social-list-icon" width="28" height="28">
                <use href="/img/icons/icons-sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="header-social-list-item">
            <a
              class="header-social-list-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
            >
              <svg class="header-social-list-icon" width="28" height="28">
                <use href="/img/icons/icons-sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
        <button
          class="header-burger-btn js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
          type="button"
        >
          <svg class="header-burger-icon">
            <use href="/img/icons/icons-sprite.svg#icon-burger"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
