<section class="hero">
    <div class="container">
        <div class="hero-section">
            <div class="hero-container">
                    <div class="hero-title-container">
                        <h1 class="hero-title">Reviving the traditional <span class="hero-text-ukrainian">Ukrainian</span>
                            artistry
                            in every stitch.</h1>
                        <div class="hero-btn">
                            <a class="hero-link-order" href="./your-order.html">Order</a>
                            <svg class="social-list-icon" width="26" height="10">
                                <use href="/img/icons/icons-sprite.svg#icon-arrow"></use>
                            </svg>
                        </div>
                        <picture>
                            <source srcset="
                                    /img/hero/girl-desktop-1440.jpg 1x,
                                    /img/hero/girl-desktop-1440.jpg@2x.jpg 2x" type="image/jpg" media="(min-width: 1440px)"
                                width="392" height="545" />
                            <source srcset="
                                    /img/hero/girl-desktop.jpg 1x,
                                    /img/hero/girl-desktop.jpg@2x.jpg 2x" type="image/jpg" media="(min-width: 1280px)"
                                width="392" height="545" />
                            <source srcset="
                                    /img/hero/girl-tablet.jpg@2x.jpg 2x,
                                    /img/hero/girl-tablet.jpg 1x" type="image/jpg" media="(min-width: 768px)" width="413"
                                height="575" />
                            <source srcset="
                                    /img/hero/girl-mobile.jpg@2x.jpg 2x,
                                    /img/hero/girl-mobile.jpg 1x" type="image/jpg" media="(min-width: 375px)" width="335"
                                height="545" />
                            <img src="/img/hero/girl-mobile.jpg" alt="Photo Girl" width="360" height="300" />
                        </picture>
                    </div>
            </div>
            <div class="hero-star-container">
                <img class="hero-star-img" srcset="/img/hero/star.png 1x, /img/hero/star.png@2x.jpg 2x"
                    src="/img/hero/star.png" alt="Photo Girl" width="52" height="51">
                <p class="hero-star-text">all embroidery is made by hand</p>
            </div>
        </div>
    </div>
</section>