<div class="mobile-menu js-menu-container" id="mobile-menu">
  <button id="close-menu" type="button" class="but js-close-menu">
    <svg class="but-one">
      <use href="/img/icons/icons-sprite.svg#icon-exit"></use>
    </svg>
  </button>
  <div class="mob-h">
    <div class="mob-top">
      <a class="tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
    </div>

    <nav class="mob-m-nav">
      <ul class="mob-m-l">
        <li class="mob-m-l-item">
          <a class="mob-m-l-link" href="#about-us">ABOUT US</a>
        </li>
        <li class="mob-m-l-item">
          <a class="mob-m-l-link" href="#our-collection">OUR COLLECTION </a>
        </li>
        <li class="mob-m-l-item">
          <a class="mob-m-l-link" href="#customer-order">CUSTOMER ORDER</a>
        </li>
        <li class="mob-m-l-item">
          <a class="mob-m-l-link" href="#testimonials">TESTIMONIALS</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
