<div class="backdrop is-open">
  <div class="container mobile-menu">
    <button id="close-menu" type="button" class="but">
      <svg class="but-one">
        <use href="../src/img/icons/icons-sprite.svg#icon-exit"></use>
      </svg>
    </button>
    <div class="mob-h">
      <a class="tel uppercase" href="tel:+380684439426">+380 (68) 443-94-26</a>

      <nav class="mob-m-nav">
        <ul class="mob-m-l">
          <li class="mob-m-l-item">
            <a class="mob-m-l-link" href="">ABOUT US</a>
          </li>
          <li class="mob-m-l-item">
            <a class="mob-m-l-link" href="">OUR COLLECTION </a>
          </li>
          <li class="mob-m-l-item">
            <a class="mob-m-l-link" href="">CUSTOMER ORDER</a>
          </li>
          <li class="mob-m-l-item">
            <a class="mob-m-l-link" href="">TESTIMONIALS</a>
          </li>
        </ul>
      </nav>
      <div class="orn"></div>
    </div>
  </div>
</div>
