<section class="our-collection-section" id="our-collection">
  <div class="container flip">
    <h2 class="our-collection-title">Our collection</h2>
    <ul class="our-collection-list">
      <li class="our-collection-list-item">
        <div>
          <div class="august-flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <picture>
                  <source
                    srcset="
                      /img/our-collection/august-d1440.jpg    1x,
                      /img/our-collection/august-d1440@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 1440px)"
                    width="400"
                    height="430" />
                  <source
                    srcset="
                      /img/our-collection/august-d1280.jpg    1x,
                      /img/our-collection/august-d1280@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 1280px)"
                    width="380"
                    height="430" />
                  <source
                    srcset="
                      /img/our-collection/august-tablet.jpg    1x,
                      /img/our-collection/august-tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 768px)"
                    width="342"
                    height="430" />
                  <source
                    srcset="
                      /img/our-collection/august-mobile.jpg    1x,
                      /img/our-collection/august-mobile@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 320px)"
                    width="335"
                    height="400" />
                  <img
                    class="our-collection-picture"
                    src="/img/our-collection/august-mobile.jpg"
                    alt="august poltava women's blousering photo"
                /></picture>
              </div>
              <div class="flip-card-back">
                <p class="try-again">try again</p>
              </div>
            </div>
          </div>
          <p class="our-collection-name">august poltava women's blousering</p>
          <p class="our-collection-price">3300 UAH</p>
        </div>
      </li>
      <li class="our-collection-list-item">
        <div>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <picture>
                  <source
                    srcset="
                      /img/our-collection/gorgany-d1440.jpg    1x,
                      /img/our-collection/gorgany-d1440@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 1440px)"
                    width="400"
                    height="430" />
                  <source
                    srcset="
                      /img/our-collection/gorgany-d1280.jpg    1x,
                      /img/our-collection/gorgany-d1280@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 1280px)"
                    width="380"
                    height="430" />
                  <source
                    srcset="
                      /img/our-collection/gorgany-tablet.jpg    1x,
                      /img/our-collection/gorgany-tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 768px)"
                    width="342"
                    height="430" />
                  <source
                    srcset="
                      /img/our-collection/gorgany-mobile.jpg    1x,
                      /img/our-collection/gorgany-mobile@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 320px)"
                    width="335"
                    height="430" />
                  <img
                    class="our-collection-picture"
                    src="/img/our-collection/gorgany-mobile.jpg"
                    alt="women's blouse gorgany photo"
                /></picture>
              </div>
              <div class="flip-card-back">
                <p class="try-again">try again</p>
              </div>
            </div>
          </div>
          <p class="our-collection-name">women's blouse gorgany</p>
          <p class="our-collection-price">3350 UAH</p>
        </div>
      </li>
      <li class="our-collection-list-item">
        <div>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <picture>
                  <source
                    srcset="
                      /img/our-collection/crimea-d1440.jpg    1x,
                      /img/our-collection/crimea-d1440@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 1440px)"
                    width="400"
                    height="430" />
                  <source
                    srcset="
                      /img/our-collection/crimea-d1280.jpg    1x,
                      /img/our-collection/crimea-d1280@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 1280px)"
                    width="380"
                    height="430" />
                  <source
                    srcset="
                      /img/our-collection/crimea-tablet.jpg    1x,
                      /img/our-collection/crimea-tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 768px)"
                    width="342"
                    height="430" />
                  <source
                    srcset="
                      /img/our-collection/crimea-mobile.jpg    1x,
                      /img/our-collection/crimea-mobile@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 320px)"
                    width="335"
                    height="430" />
                  <img
                    class="our-collection-picture"
                    src="/img/our-collection/crimea-mobile.jpg"
                    alt="women's blouse crimea photo"
                /></picture>
              </div>
              <div class="flip-card-back">
                <p class="you-win">you win</p>
              </div>
            </div>
          </div>
          <p class="our-collection-name">women's blouse crimea</p>
          <p class="our-collection-price">4000 UAH</p>
        </div>
      </li>
      <li class="our-collection-list-item">
        <div>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <picture>
                  <source
                    srcset="
                      /img/our-collection/verkhovina-d1440.jpg    1x,
                      /img/our-collection/verkhovina-d1440@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 1440px)"
                    width="400"
                    height="430" />
                  <source
                    srcset="
                      /img/our-collection/verkhovina-d1280.jpg    1x,
                      /img/our-collection/verkhovina-d1280@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 1280px)"
                    width="380"
                    height="430" />
                  <source
                    srcset="
                      /img/our-collection/verkhovina-tablet.jpg    1x,
                      /img/our-collection/verkhovina-tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 768px)"
                    width="342"
                    height="430" />
                  <source
                    srcset="
                      /img/our-collection/verkhovina-mobile.jpg    1x,
                      /img/our-collection/verkhovina-mobile@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 320px)"
                    width="335"
                    height="430" />
                  <img
                    class="our-collection-picture"
                    src="/img/our-collection/verkhovina-mobile.jpg"
                    alt="men's shirt verkhovina photo"
                /></picture>
              </div>
              <div class="flip-card-back">
                <p class="try-again">try again</p>
              </div>
            </div>
          </div>
          <p class="our-collection-name">men's shirt verkhovina</p>
          <p class="our-collection-price">3100 UAH</p>
        </div>
      </li>
      <li class="our-collection-list-item">
        <div>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <picture>
                  <source
                    srcset="
                      /img/our-collection/mountain-d1440.jpg    1x,
                      /img/our-collection/mountain-d1440@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 1440px)"
                    width="400"
                    height="430" />
                  <source
                    srcset="
                      /img/our-collection/mountain-d1280.jpg    1x,
                      /img/our-collection/mountain-d1280@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 1280px)"
                    width="380"
                    height="430" />
                  <source
                    srcset="
                      /img/our-collection/mountain-tablet.jpg    1x,
                      /img/our-collection/mountain-tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 768px)"
                    width="342"
                    height="430" />
                  <source
                    srcset="
                      /img/our-collection/mountain-mobile.jpg    1x,
                      /img/our-collection/mountain-mobile@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 320px)"
                    width="335"
                    height="430" />
                  <img
                    class="our-collection-picture"
                    src="/img/our-collection/mountain-mobile.jpg"
                    alt="mountain men's shirt photo"
                /></picture>
              </div>
              <div class="flip-card-back">
                <p class="try-again">try again</p>
              </div>
            </div>
          </div>
          <p class="our-collection-name">mountain men's shirt</p>
          <p class="our-collection-price">3300 UAH</p>
        </div>
      </li>
      <li class="our-collection-list-item">
        <div>
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <picture>
                  <source
                    srcset="
                      /img/our-collection/yasen-d1440.jpg    1x,
                      /img/our-collection/yasen-d1440@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 1440px)"
                    width="400"
                    height="430" />
                  <source
                    srcset="
                      /img/our-collection/yasen-d1280.jpg    1x,
                      /img/our-collection/yasen-d1280@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 1280px)"
                    width="380"
                    height="430" />
                  <source
                    srcset="
                      /img/our-collection/yasen-tablet.jpg    1x,
                      /img/our-collection/yasen-tablet@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 768px)"
                    width="342"
                    height="430" />
                  <source
                    srcset="
                      /img/our-collection/yasen-mobile.jpg    1x,
                      /img/our-collection/yasen-mobile@2x.jpg 2x
                    "
                    type="image/jpeg"
                    media="(min-width: 320px)"
                    width="335"
                    height="430" />
                  <img
                    class="our-collection-picture"
                    src="/img/our-collection/yasen-mobile.jpg"
                    alt="men's shirt yasen photo"
                /></picture>
              </div>
              <div class="flip-card-back">
                <p class="try-again">try again</p>
              </div>
            </div>
          </div>
          <p class="our-collection-name">men's shirt yasen</p>
          <p class="our-collection-price">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>

  <div class="container flip-none">
    <h2 class="our-collection-title">Our collection</h2>
    <ul class="our-collection-list">
      <li class="our-collection-list-item">
        <div>
          <picture>
            <source
              srcset="
                /img/our-collection/august-mobile.jpg    1x,
                /img/our-collection/august-mobile@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width: 320px)"
              width="335"
              height="400" />
            <img
              class="our-collection-picture"
              src="/img/our-collection/august-mobile.jpg"
              alt="august poltava women's blousering photo"
          /></picture>
          <p class="our-collection-name">august poltava women's blousering</p>
          <p class="our-collection-price">3300 UAH</p>
        </div>
      </li>
      <li class="our-collection-list-item">
        <div>
          <picture>
            <source
              srcset="
                /img/our-collection/gorgany-mobile.jpg    1x,
                /img/our-collection/gorgany-mobile@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width: 320px)"
              width="335"
              height="430" />
            <img
              class="our-collection-picture"
              src="/img/our-collection/gorgany-mobile.jpg"
              alt="women's blouse gorgany photo"
          /></picture>
          <p class="our-collection-name">women's blouse gorgany</p>
          <p class="our-collection-price">3350 UAH</p>
        </div>
      </li>
      <li class="our-collection-list-item">
        <div>
          <picture>
            <source
              srcset="
                /img/our-collection/crimea-mobile.jpg    1x,
                /img/our-collection/crimea-mobile@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width: 320px)"
              width="335"
              height="430" />
            <img
              class="our-collection-picture"
              src="/img/our-collection/crimea-mobile.jpg"
              alt="women's blouse crimea photo"
          /></picture>
          <p class="our-collection-name">women's blouse crimea</p>
          <p class="our-collection-price">4000 UAH</p>
        </div>
      </li>
      <li class="our-collection-list-item">
        <div>
          <picture>
            <source
              srcset="
                /img/our-collection/verkhovina-mobile.jpg    1x,
                /img/our-collection/verkhovina-mobile@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width: 320px)"
              width="335"
              height="430" />
            <img
              class="our-collection-picture"
              src="/img/our-collection/verkhovina-mobile.jpg"
              alt="men's shirt verkhovina photo"
          /></picture>
          <p class="our-collection-name">men's shirt verkhovina</p>
          <p class="our-collection-price">3100 UAH</p>
        </div>
      </li>
      <li class="our-collection-list-item">
        <div>
          <picture>
            <source
              srcset="
                /img/our-collection/mountain-mobile.jpg    1x,
                /img/our-collection/mountain-mobile@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width: 320px)"
              width="335"
              height="430" />
            <img
              class="our-collection-picture"
              src="/img/our-collection/mountain-mobile.jpg"
              alt="mountain men's shirt photo"
          /></picture>
          <p class="our-collection-name">mountain men's shirt</p>
          <p class="our-collection-price">3300 UAH</p>
        </div>
      </li>
      <li class="our-collection-list-item">
        <div>
          <picture>
            <source
              srcset="
                /img/our-collection/yasen-mobile.jpg    1x,
                /img/our-collection/yasen-mobile@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width: 320px)"
              width="335"
              height="430" />
            <img
              class="our-collection-picture"
              src="/img/our-collection/yasen-mobile.jpg"
              alt="men's shirt yasen photo"
          /></picture>
          <p class="our-collection-name">men's shirt yasen</p>
          <p class="our-collection-price">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
