<section class="testimonials">
  <div class="container testimonials-section">
    <h2 class="testimonials-title">Testimonials</h2>
    <ul class="testimonials-list">
      <li class="testimonials-item">
        <img
          class="testimonials-item-avatar"
          srcset="
            /img/testimonials/maria.png    1x,
            /img/testimonials/maria@2x.png 2x
          "
          src="/img/testimonials/maria.png"
          width="72px"
          height="72px"
          alt="Maria Tkachuk"
        />
        <div class="testimonials-info">
          <h3 class="testimonials-name">Maria Tkachuk</h3>
          <p class="testimonials-review">
            I was pleasantly surprised by the variety of embroidery offered by
            Vyshyvanka Vibes. They have models for every taste - from classic to
            modern. I bought an embroidered dress to celebrate a special
            occasion and received impeccable service and refinement in every
            detail.
          </p>
        </div>
      </li>
      <li class="testimonials-item">
        <img
          class="testimonials-item-avatar"
          srcset="
            /img/testimonials/sergey.png    1x,
            /img/testimonials/sergey@2x.png 2x
          "
          src="/img/testimonials/sergey.png"
          width="72px"
          height="72px"
          alt="Sergey Rybachok"
        />
        <div class="testimonials-item-info">
          <h3>Maria Tkachuk</h3>
          <p class="testimonials-review"></p>
        </div>
      </li>
      <li class="testimonials-item">
        <img
          class="testimonials-item-avatar"
          srcset="
            /img/testimonials/natalia.png    1x,
            /img/testimonials/natalia@2x.png 2x
          "
          src="/img/testimonials/natalia.png"
          width="72px"
          height="72px"
          alt="Natalia Chatuk"
        />
        <div class="testimonials-item-info">
          <h3>Maria Tkachuk</h3>
          <p class="testimonials-review"></p>
        </div>
      </li>
    </ul>
  </div>
</section>
