<!-- your order -->
<section class="container">
  <h2 class="order-titel">
    <span class="accent-color">Your order</span> is our priority: Personalized
    approach and quality of service
  </h2>
  <form class="order-form">
    <label class="order-label">
      <input
        type="text"
        name="user-name"
        placeholder="Enter your full name"
        class="form-info"
      />
    </label>
    <label class="order-label">
      <input
        type="email"
        name="user-email"
        placeholder="Enter your email"
        class="form-info"
      />
    </label>
    <label class="order-label">
      <textarea
        name="comments"
        placeholder="Comments"
        class="form-comments"
      ></textarea>
    </label>
    <button type="submit" class="btn-order">Send</button>
  </form>
  <img
    class=""
    src="../img/your-order/order-vyshyvanka-d1280 12.21.16.jpg"
    alt="white vyshyvanka"
  />
</section>
