/* General Styles */

body {
  font-family: 'Manrope', sans-serif;
  background-color: #1c2225;
  color: #fcf9f9;
  scroll-behavior: smooth;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
}

.container {
  width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

section {
  margin-bottom: 80px;
}

@media screen and (min-width: 768px) {
  section {
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  section {
    margin-bottom: 150px;
  }
}

h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.38;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 44px;
    line-height: 1.45;
  }
}

address {
  font-style: normal;
}

p {
  color: rgba(252, 249, 249, 0.4);
}

.accent-color {
  color: #ecd979;
}
