.footer {
  border-top: 1px solid rgba(252, 249, 249, 0.1);
  padding-top: 40px;
  background-image: url(/img/yellow-ornament.png);
  background-repeat: no-repeat;
  background-size: 452px 401px;
  background-position: calc(50%) calc(100% + 201px);
  position: relative;
  padding-bottom: 280px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 40px;
  margin-bottom: 40px;
  width: 280px;
  height: 61px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

.footer-description {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.23;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 40px;
    background-position: calc(50% + 436px) calc(100% + 17px);
  }
  .footer-list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 25px;
    margin-bottom: 80px;
    width: 478px;
    height: 18px;
  }
  .footer-description {
    font-size: 54px;
    line-height: 1.19;
    width: 521px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    background-position: calc(50% + 603px) calc(100% + 104px);
    background-size: 595px 528px;
  }
  .footer-list {
    margin-bottom: 117px;
  }
  .footer-description {
    font-size: 64px;
    line-height: 1.16;
    width: 754px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    background-position: calc(50% + 522px) calc(100% + 104px);
  }
}
