.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header-logo {
  fill: #ecd979;
}

.header-nav {
  display: none;
}

.header-address {
  display: none;
}

.header-social-burger-box {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header-social-list {
  display: flex;
  gap: 12px;
}

.header-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 8px;
  width: 44px;
  height: 44px;
  background: rgba(252, 249, 249, 0.1);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-social-list-link:hover,
.header-social-list-link:focus {
  border-color: #ecd979;
  background-color: transparent;
}

.header-social-list-icon {
  fill: #fcf9f9;
}
.header-burger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 24px;
  background-color: transparent;
  border: none;
}

.header-burger-icon {
  stroke: #ecd979;
  width: 36px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .header-social-burger-box {
    gap: 20px;
  }

  .header-burger-btn {
    width: 44px;
    height: 30px;
  }

  .header-burger-icon {
    width: 44px;
    height: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .header-logo-nav-box {
    display: flex;
    gap: 60px;
    align-items: center;
  }

  .header-burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
  }

  .header-nav .active-link {
    color: #ecd979;
  }

  .header-nav-list {
    display: flex;
    gap: 25px;
  }

  .header-nav-list-item {
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
    color: #fcf9f9;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-list-item:hover,
  .header-nav-list-item:focus {
    color: #ecd979;
  }

  .header-address-social-box {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .header-address {
    display: flex;
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 14px 28px;
    min-width: 193px;
    height: 48px;
    font-style: normal;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address:hover,
  .header-address:focus {
    border-color: #ecd979;
  }

  .header-address-link {
    font-size: 14px;
    line-height: 1.43;
    text-transform: uppercase;
    color: #fcf9f9;
  }
}
