/* ============ MOBILE ============ */

.hero {
  padding-top: 84px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title-btn {
  margin-bottom: 40px;
}

.hero-title {
  font-weight: 400;
  font-size: 44px;
  line-height: 1.09;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  margin-bottom: 20px;
}

.hero-btn {
  display: flex;
  justify-content: center;
  gap: 10px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 36px;
  width: 154px;
  height: 49px;
  margin-left: 70px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fcf9f9;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  border: 1px solid #ecd979;
}

.social-list-icon {
  fill: #ecd979;
  width: 100%;
  height: 100%;
}

.hero-star-container {
  display: none;
}

/* ============ TABLE ============= */

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 100px;
  }

  .hero-section {
    display: flex;
    gap: 40px;
  }

  .hero-container {
    align-items: flex-start;
  }

  .hero-title {
    font-size: 54px;
    line-height: 1.19;
    margin-bottom: 40px;
  }

  .hero-btn {
    padding: 14px 39px;
    width: 168px;
    height: 50px;
    margin-left: 141px;
  }

  .hero-star-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
  }

  .hero-star-img {
    margin-bottom: 16px;
  }

  .hero-star-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.04em;
    text-align: center;
    width: 115px;
    height: 111px;
  }
}

/* ============ DESKTOP ============ */

@media screen and (min-width: 1280px) {
  .hero-section {
    gap: 115px;
  }

  .hero-container {
    display: flex;
    width: 1280px;
    flex-direction: row-reverse;
    gap: 40px;
  }
  .hero-title-btn {
    margin-bottom: 0;
  }
  .hero-title {
    width: 518px;
    margin-top: 94px;
  }

  .hero-btn {
    margin-left: 181px;
  }

  .hero-star-container {
    margin-top: 14px;
  }
}

/* ============ DESKTOP-1440p ============ */

@media screen and (min-width: 1440px) {
  .hero-container {
    justify-content: space-between;
  }

  .hero-title {
    width: 632px;
    font-size: 64px;
    line-height: 1.16;
    margin-top: 66px;
  }

  .hero-star-container {
    margin-top: 66px;
  }
}
