/* ============ MOBILE ============ */

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 335px;
}

.hero-title-container {
  display: flex;
  flex-direction: column;
}

.hero-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 44px;
  line-height: 1.09;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  width: 335px;
  height: 192px;
  margin-bottom: 20px;
}

.hero-text-ukrainian {
  color: #ecd979;
}

.hero-btn {
  display: flex;
  justify-content: center;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 36px;
  width: 154px;
  height: 49px;
  margin-left: 70px;
  margin-bottom: 40px;
}

.hero-link-order {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fcf9f9;
}

.social-list-icon {
  fill: #ecd979;
  width: 100%;
  height: 100%;
  margin-left: 10px;
}

.hero-picture {
  border-radius: 500px;
  background-color: aquamarine;
}

.hero-star-container {
  width: 115px;
  height: 111px;
  display: none;
}

/* ============ TABLE ============= */

@media screen and (min-width: 768px) {
  .hero-section {
    display: flex;
  }

  .hero-container {
    width: 549px;
  }

  .hero-title {
    width: 549px;
    font-size: 54px;
    line-height: 1.19;
    margin-bottom: 40px;
  }

  .hero-btn {
    padding: 14px 39px;
    width: 168px;
    height: 50px;
    margin-left: 141px;
    margin-bottom: 46px;
  }

  .hero-star-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    margin-left: 40px;
  }

  .hero-star-img {
    margin-bottom: 16px;
  }

  .hero-star-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.04em;
    text-align: center;
  }
}

/* ============ DESKTOP ============ */

@media screen and (min-width: 1280px) {
  .hero-container {
    display: flex;
    width: 1280px;
  }

  .hero-title-container {
    display: flex;
    flex-direction: row-reverse;
  }

  .hero-title {
    width: 518px;
    margin-top: 94px;
    margin-left: 40px;
  }

  .hero-btn {
    margin-left: 181px;
  }

  .hero-star-container {
    margin-top: 14px;
    margin-left: 115px;
  }
}

/* ============ DESKTOP-1440p ============ */

@media screen and (min-width: 1440px) {
  .hero-container {
    width: 1440px;
  }

  .hero-title {
    width: 632px;
    height: 222px;
    font-size: 64px;
    line-height: 1.16;
    margin-top: 66px;
  }
}



