.our-collection-section {
  background-image: url(/img/yellow-ornament.png);
  background-repeat: no-repeat;
  background-size: 199px 177px;
  background-position: calc(50% - 215px) 298px;
}
.our-collection-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.38;
  letter-spacing: -0.03em;
  text-align: center;
  margin-bottom: 40px;
}
.our-collection-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fcf9f9;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 8px;
}
.our-collection-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.05em;
}
.our-collection-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.our-collection-picture {
  border-radius: 4px;
  /* margin-bottom: 18px; */
}

.flip-card {
  background-color: transparent;
  width: 335px;
  height: 400px;
  perspective: 1000px;
  margin-bottom: 18px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 107.5%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: dodgerblue;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: rotateY(180deg);
}
.try-again {
  color: yellow;
  font-size: 66px;
  text-transform: uppercase;
}

.you-win {
  color: greenyellow;
  font-size: 66px;
  text-transform: uppercase;
}
/* ===============Mobile 320px-375px================ */
@media screen and (min-width: 320px) and (max-width: 375px) {
  .our-collection-section {
    background-position: -72% 10.3%;
  }
  .flip-card {
    max-width: 335px;
  }
  .flip-card-inner {
    height: 100%;
  }
}
/* ====================Tablet===================== */
@media screen and (min-width: 768px) {
  .our-collection-section {
    background-size: 338px 300px;
    background-position: calc(50% - 439px) 201px;
  }
  .our-collection-title {
    font-size: 44px;
    line-height: 1.45;
  }
  .our-collection-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .our-collection-list-item {
    width: calc((100% - 20px) / 2);
  }
  .our-collection-name {
    font-size: 18px;
  }
  .our-collection-price {
    font-size: 18px;
  }
  .flip-card {
    width: 342px;
    height: 430px;
  }
  .flip-card-inner {
    height: 100%;
  }
}
/* ====================DT 1280px==================== */
@media screen and (min-width: 1280px) {
  .our-collection-section {
    background-position: calc(50% - 640px) 201px;
  }
  .our-collection-list {
    row-gap: 40px;
    column-gap: 20px;
  }
  .our-collection-list-item {
    width: calc((100% - 40px) / 3);
  }
  .flip-card {
    width: 380px;
  }
}
/* ====================DT 1440px==================== */
@media screen and (min-width: 1440px) {
  .our-collection-section {
    background-position: calc(50% - 719px) 201px;
  }
  .flip-card {
    width: 400px;
  }
}
